.qreg-main{padding:30px 30px 20px;line-height:1.5; text-align:left;color:#fff}
.qreg-agree a,.qreg-btn-smscaptcha{color:#fff; text-decoration:underline}
.qreg-tab,.qreg-main,.qreg-input{font-size:14px;}
.qreg-agree{font-size: 12px;margin-bottom: 6px;}
/*tab*/
.qreg-tab{/*display: box;display: -webkit-box;display: -ms-box;*/overflow:hidden;*zoom:1}
.qreg-tab-li{float:left;width:33.32%;/*-webkit-box-flex: 1;-ms-box-flex: 1;*/background:#6879ca;border-left:1px solid #fff;margin-left:-1px;}
.qreg-tab-li a{display:block;height:34px;line-height:34px;text-align:center;color:#fff}
.qreg-tab-select{background:#fff}
.qreg-tab-select a{color:#000}
/*tip*/
.qreg-tip,.qreg-smscaptcha-tip{ position:absolute;top:-25px;left:0;color:#9b9b9b;font-size: 12px; white-space: nowrap;}
.qreg-tip-error{color:#e12828 !important}
/*input*/
.qreg-input-label{display:none}
.qreg-input-wrap{ position:relative;}
.qreg-input-ph,.qreg-placeholder{ position:absolute;top:6px;left:25px;color:#999; cursor:text}
.qreg-input{border:1px solid #d5d5d5;padding:2px 10px;width:100%;height:32px; outline:none;box-sizing:border-box;line-height: 28px}
.qreg-field-focus .qreg-input{border-color:#333}
.qreg-field-error .qreg-input{border-color:#e12828;}
/*checkbox*/
.qreg-cb{/*background:red*/}
.qreg-cb-checked{/*background:green*/}
.qreg-cb input{/*opacity:0*/ vertical-align:-2px;margin-right:5px;}
.qreg-cb-label{color:#999999}
.qreg-cb-label a{ text-decoration:underline}
/*button*/
.qreg-btn-reg,
.qreg-btn-bind,
.qreg-btn-tobind,
.qreg-btn-smscaptcha-submit,
.qreg-btn-back{background:#282828;font-size:16px;color:#fff;display:block;text-align:center;line-height:40px;}
.qreg-btn-code{ position:absolute;right:0;top:0;background:#282828;color:#999999;font-size:12px;width:125px; text-align:center;line-height:34px;}
/*icon*/
.qreg-ico{display:none;position:absolute;right:-29px;top:0;width:29px;height:32px;background:#d5d5d5 url(qreg_icon.png)/*tpa=http://www.wanmei.com/public/style/fastreg/qreg_icon.png*/ no-repeat;}
.qreg-field-error .qreg-ico{display:block;background-color:#e12828;background-position:-29px 0;}
.qreg-field-right .qreg-ico{display:block;background-color:#4fb1a0;}
/*layout*/
.qreg-core,.qreg-bind{position:relative}
.qreg-fields{/*height:206px;*/}
.qreg-field{position:relative;margin-bottom:6px;}
.qreg-field-phonecode .qreg-input-wrap,
.qreg-field-emailcode .qreg-input-wrap{padding-right:133px;}
/*验证码*/
.qreg-imgcode-pop{padding:5px;position:absolute;top:33px;left:0; border:1px solid #CCC;background:#fff;display:none}
.qreg-imgcode-pop img{width:140px}
.qreg-imgcode-pop a{display:block; text-align:center;color:#000;}
.qreg-pop-captcha{padding:5px;position:absolute;top:33px;left:0; border:1px solid #CCC;background:#fff;display:none}
.qreg-pop-captcha img{width:140px}
.qreg-pop-captcha a{display:block; text-align:center;color:#000;}
/*注册成功*/
.qreg-p1{font-weight:bold}
.qreg-p2{}
.qreg-p3{color:#e12828;height:50px;}
.qreg-p4{color:#e12828;margin-bottom:10px;}
/*短信验证码*/
.qreg-field-smscaptcha  {height:80px;}
.qreg-field-smscaptcha .qreg-input-wrap{padding-right:120px;}
.qreg-smscaptcha-img{height:34px;position:absolute;right:0;top:0;}
.qreg-btn-smscaptcha{ position:absolute;right:40px;top:40px;}
/* input */
.qreg-input{background-position:  5px center; background-repeat: no-repeat;padding-left: 25px}
.qreg-field-account .qreg-input{background-image: url(41456832977744.png)/*tpa=http://zhuxian.wanmei.com/resources/png/160301/41456832977744.png*/}
.qreg-field-password .qreg-input{background-image: url(41456832979418.png)/*tpa=http://zhuxian.wanmei.com/resources/png/160301/41456832979418.png*/}
.qreg-field-email .qreg-input{background-image: url(41456832978443-1.png)/*tpa=http://zhuxian2.wanmei.com/resources/png/160301/41456832978443.png*/}
.qreg-field-captcha .qreg-input{background-image: url(41456832978107-1.png)/*tpa=http://zhuxian2.wanmei.com/resources/png/160301/41456832978107.png*/}
.qreg-field-phonecode .qreg-input{background-image: url(41456832978107-1.png)/*tpa=http://zhuxian2.wanmei.com/resources/png/160301/41456832978107.png*/}
.qreg-field-emailcode .qreg-input{background-image: url(41456832978107-1.png)/*tpa=http://zhuxian2.wanmei.com/resources/png/160301/41456832978107.png*/}
.qreg-field-smscaptcha .qreg-input{background-image: url(41456832978107-1.png)/*tpa=http://zhuxian2.wanmei.com/resources/png/160301/41456832978107.png*/}
.qreg-field-realname .qreg-input {background-image: url(41456832977744.png)/*tpa=http://zhuxian.wanmei.com/resources/png/160301/41456832977744.png*/}
.qreg-field-idnum .qreg-input {background-image: url(41456902421028.png)/*tpa=http://zhuxian.wanmei.com/resources/png/160302/41456902421028.png*/}
/* button */
.qreg-btns a,
.qreg-succ-btn a{background: #6879ca}
.qreg-succ-btn{overflow: hidden;}
.qreg-suc .qreg-btn-tobind{float:left;width:50%;}
.qreg-suc .qreg-btn-back{float:right;width: 45%}
/* IE7 HACK */
.qreg-field{*margin-bottom:5px;}
.qreg-input{*height:25px;*line-height:25px;}
.qreg-ico{_right:-7px;}
.qreg-input-wrap{*padding-right:37px;} 
.qreg-field-phonecode .qreg-input-wrap,
.qreg-field-emailcode .qreg-input-wrap,
.qreg-field-smscaptcha .qreg-input-wrap{*padding-right:170px;}